@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600&display=swap");

/* *GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  transition: all .2s linear;
}

:root {
  --main-color: #9fcb22;
  --dark-main: #14462e;
  --back-blue: #eef7fc;
  --red: #d9485b;
  --black: #000;
  --white: #fff;
  --transition: 0.3s;
  --border: .1rem solid rgba(0, 0, 0, .1);
  --border-hover: .1rem solid var(--black);
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Barlow', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Jost', sans-serif;
}

a {
  text-decoration: none;
}

html::-webkit-scrollbar {
  width: .5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--dark-main);
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #6b8d0d
}

.container {
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.main-title {
  text-transform: capitalize;
  text-align: center;
  margin-block-end: 2rem;
}

.main-title span {
  color: var(--main-color);
  font-size: 1.3rem;
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

.main-title span a {
  color: var(--main-color);
}

.main-title h2 {
  font-size: 2.8rem;
}

/* Small */
@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width:992px) {
  .container {
    width: 950px;
  }
}

/* Large */
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.btn {
  text-transform: uppercase;
  background-color: var(--main-color);
  padding-block: 1rem;
  padding-inline: 2.5rem;
  font-weight: 500;
  color: var(--white);
}



/* *HEADER */
.header {
  position: relative;
  padding-block-start: 2rem;
  background: var(--back-blue) url("../images/Home/Hero.png") center no-repeat;
}

.header .header__slice {
  position: absolute;
  left: 0;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .toggle-menu {
  display: none;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__links li {
  position: relative;
}

.nav__links a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
}

.nav__links li::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  background-color: var(--main-color);
  width: 0%;
  height: 2px;
  transition: var(--transition);
}

.nav__links li:hover::before {
  width: 100%;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__icons i {
  color: var(--main-color);
  background-color: var(--white);
  padding: 0.8rem;
  border-radius: 50%;
  transition: var(--transition);
}

.header__icons i:hover {
  color: var(--dark-main);
  background-color: #ddd;
}

.header__icons a:last-child {
  position: relative;
}

.header__icons a:last-child span {
  position: absolute;
  right: 0;
  background-color: var(--dark-main);
  color: var(--white);
  border-radius: 50%;
  padding-block: 0.1rem;
  padding-inline: 0.3rem;
  font-size: 0.5rem;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__info span {
  color: var(--main-color);
  font-weight: 500;
  font-size: 1.2rem;
  display: block;
  margin-block-end: 1.3rem;
}

.hero__info h1 {
  font-size: 4rem;
  line-height: 1.1;
  margin-block-end: 1.3rem;
  max-width: 480px;
}

.hero__info p {
  line-height: 1.5;
  margin-block-end: 3rem;
  font-weight: 500;
  max-width: 375px;
}

.hero__btns {
  display: flex;
  gap: 1rem;
}

.hero__btns a:last-child {
  background-color: var(--dark-main);
}

.hero__btns .btn:first-of-type:hover {
  background-color: #779f09;
}

.hero__btns .btn:last-of-type:hover {
  background-color: #085c30;
}

/* *BOTTOM NAV */
.bottom-nav {
  text-align: center;
  background: var(--main-color);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 9;
}

.bottom-nav a {
  font-size: 1.5rem;
  padding: 1rem;
  color: #fff;
}

.bottom-nav a:hover {
  background-color: var(--dark-main);
}

/* *LOGIN */
.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  z-index: 9;
}

.login-form-container form {
  background: #fff;
  border: var(--border);
  width: 30rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  margin: 2rem;
  border-radius: 0.5rem;
}

.login-form-container form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #444;
  text-align: center;
}

.login-form-container form span {
  display: block;
  font-size: 1.1rem;
  padding-block-start: 1rem;
  text-transform: capitalize;
}

.login-form-container form .box-input {
  width: 100%;
  margin-block: 0.7rem;
  font-size: 1.1rem;
  border: var(--border);
  padding-block: 0.8rem;
  padding-inline: 1.2rem;
  border-radius: 0.5rem;
  text-transform: none;
}

.login-form-container form .checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.8rem;
  text-transform: capitalize;
}

.login-form-container form .checkbox label {
  font-size: 1.1rem;
  color: #777;
  cursor: pointer;
}

.login-form-container form .Btn {
  border: 0;
  display: inline-block;
  padding-block: 0.9rem;
  padding-inline: 3rem;
  color: #fff;
  background: var(--main-color);
  font-size: 1.7rem;
  border-radius: 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin-block: 1.5rem;
}

.login-form-container form .Btn:hover {
  background: var(--dark-main);
  color: #fff;
}

.login-form-container form p {
  padding-block-start: 0.8rem;
  color: #666;
  font-size: 1.2rem;
}

.login-form-container form p a {
  color: var(--main-color);
  text-decoration: underline;
}

.login-form-container.active {
  right: 0;
}

.login-form-container #close-btn-login {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  color: #444;
  cursor: pointer;
}

/* *CATEGORIES */
.categories .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  margin-block: 5rem;
}

.categories__box {
  width: 100%;
  height: 300px;
  margin-inline: auto;
  position: relative;
  border-radius: 10px;
}

.categories__box:hover {
  transform: scale(.9);
}

.categories__info {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white);
  text-transform: capitalize;
  max-width: 155px;
}

.categories__info a {
  color: var(--white);
}

.categories__info-title {
  font-size: 1.6rem;
  font-weight: 400;
  margin-block-end: 1rem;
}

.categories__box:nth-child(1) {
  background: #9FDED4 url("../images/Home/cat-1.png") no-repeat;
  background-position-x: 105%;
  background-position-y: 115%;
}

.categories__box:nth-child(2) {
  background: #FA9522 url("../images/Home/cat-2.png") no-repeat;
  background-position-x: 90%;
  background-position-y: 90%;
}

.categories__box:nth-child(3) {
  background: #AEDF23 url("../images/Home/cat-3.png") no-repeat;
  background-position-x: 90%;
  background-position-y: 90%;
}

/* *TRENDING */
.trending {
  margin-block: 5rem;
}

.trending__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}

.trending__content-box {
  position: relative;
  background-color: var(--back-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 480px;
  padding-block-end: 1.5rem;
}

.trending__content-box.hot::before {
  content: "Hot";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--red);
  padding-block-start: 0.5rem;
  padding-inline: 1rem;
  color: var(--white);
  font-weight: 400;
  font-family: "Jost", sans-serif;
}

.trending__fav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.trending__fav .fa-heart {
  padding: 1rem;
  color: gray;
}

.trending__fav .fa-heart:hover {
  color: var(--white);
}

.trending__fav:hover {
  background-color: var(--main-color);
}

.trending__image {
  height: 225px;
  max-width: 100%;
}

.trending__info {
  line-height: 2;
  text-align: center;
  text-transform: capitalize;
}

.trending__info .btn {
  background-color: var(--dark-main);
  padding-block: 0.8rem;
  padding-inline: 1.4rem;
}

.trending__info .btn:hover {
  background-color: var(--main-color);
}

.trending__stars .fa-solid {
  color: gold;
}

.trending__stars .fa-regular {
  color: #ccc;
}

.trending__info-title {
  font-size: 1.6rem;
}

.trending__info-price {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main-color);
  margin-block-end: 1.5rem;
}

.trending__info-price del {
  color: #ccc;
  font-weight: 300;
  margin-inline-end: .3rem;
}

/* *BANNER */
.banner {
  margin-block-end: 5rem;
  background-size: cover;
}

.banner .container {
  background: url("../images/Home/Banner.png") center no-repeat;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  min-height: 40vh;
  padding-inline: 3rem;
}

.banner__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner__left h3 {
  font-size: 3.3rem;
  color: var(--white);
  font-weight: 500;
}

.banner__left span {
  color: yellow;
}

.banner__left a {
  color: var(--white);
  font-weight: 500;
}

.banner__right {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner__right p {
  font-size: 2.8rem;
  color: var(--white);
  font-weight: 500;
}

/* *ABOUT */
.about {
  height: 790px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 9rem;
  position: relative;
  background: url("../images/Home/BackgroundAbout.png") no-repeat;

}

.about__slice {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.about__content {
  max-width: 610px;
  height: 790px;
  border-top: 3px solid var(--main-color);
  background-color: var(--white);
  padding-block: 5rem;
  padding-inline: 3rem;
  margin-inline-start: 35rem;
}

.about__content span {
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.3rem;
}

.about__content h3 {
  font-size: 2.8rem;
  line-height: 1;
  margin-block: 1rem;
}

.about__content p {
  line-height: 1.6;
  font-size: 1.2rem;
  margin-block-end: 1rem;
}

.about__content p:last-of-type {
  margin-block-end: 3rem;
}

.about__content .btn:hover {
  background-color: var(--dark-main);
}

/* *FEATURE */
.feature {
  margin-block-end: 5rem;
}

.feature .col-app {
  display: none;
}

.feature .container {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  text-align: center;
}

.feature__box {
  margin-block-end: 4rem;
}

.feature .col:not(.col-app) .feature__box:hover img {
  transform: rotate(360deg);
  transition-duration: 300ms;
}

.feature__box .btn:hover {
  background-color: var(--dark-main);
}

.feature__box img {
  margin-block-end: 1rem;
}

.feature__box h3 {
  font-size: 1.6rem;
  margin-block-end: 1rem;
}

.feature__box p {
  font-size: 1.2rem;
  color: #777;
}

/* *BEST SELLER */
.best-seller {
  margin-block-end: 5rem;
}

.best-seller .filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.best-seller .filter-list li {
  position: relative;
  font-size: 1.2rem;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: var(--black);
  cursor: pointer;
}

.best-seller .filter-list li.active {
  color: var(--main-color);
}

.best-seller .filter-list li::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 0%;
  height: 2px;
  bottom: -0.3rem;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition);
}

.best-seller .filter-list li:hover::before {
  width: 100%;
}

.best-seller__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}

.best-seller__box {
  position: relative;
  background-color: var(--back-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 480px;
  padding-block-end: 1.5rem;
}

.best-seller__box.hot::before {
  content: "Hot";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--red);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  color: var(--white);
  font-weight: 400;
  font-family: "Jost", sans-serif;
}

.best-seller__box .fav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.best-seller__box .fav .fa-heart {
  padding: 1rem;
  color: gray;
}

.best-seller__box .fav .fa-heart:hover {
  color: var(--white);
}

.best-seller__box .fav:hover {
  background-color: var(--main-color);
}

.best-seller__image {
  height: 225px;
  max-width: 100%;
}

.best-seller__info {
  line-height: 2;
  text-align: center;
  text-transform: capitalize;
}

.best-seller__info .btn {
  background-color: var(--dark-main);
  padding-block: 0.8rem;
  padding-inline: 1.4rem;
}

.best-seller__info .btn:hover {
  background-color: var(--main-color);
}

.best-seller__info .stars .fa-solid {
  color: gold;
}

.best-seller__info .stars .fa-regular {
  color: #ccc;
}

.best-seller__title {
  font-size: 1.6rem;
}

.best-seller__price {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main-color);
  margin-block-end: 1.5rem;
}

.best-seller__price del {
  color: #ccc;
  font-weight: 300;
  margin-inline-end: .3rem;
}

/* *testimonial */
.testimonial {
  margin-block-end: 5rem;
}

.testimonial__content {
  display: flex;
  gap: 2rem;
}

.testimonial__box {
  background-color: var(--back-blue);
  padding-block: 4rem;
  padding-inline: 2rem;
  border-block-start: 3px solid var(--main-color);
}

.testimonial__box .quot {
  font-size: 7rem;
  color: var(--main-color);
}

.testimonial__box p {
  font-size: 1.2rem;
  color: #777;
  font-style: italic;
  margin-block-end: 1rem;
  line-height: 1.7;
}

.testimonial__box .stars i {
  color: gold;
  margin-block-end: 1rem;
}

.testimonial__box span {
  color: var(--main-color);
  font-weight: 500;
}

/* *SPONSOR */
.sponsor {
  margin-block-end: 5rem;
}

.sponsor img {
  width: 100%;
  display: block;
}

/* *newsletter */
.newsletter {
  margin-block-end: -5rem;
}

.newsletter .container {
  position: relative;
  min-height: 50vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--main-color);
}

.newsletter img {
  position: absolute;
  left: -18%;
  top: -140px;
  width: 450px;
}

.newsletter__title {
  font-size: 2.8rem;
  color: var(--white);
  text-transform: capitalize;
  margin-block-end: 1rem;
}

.newsletter__info {
  width: 70%;
}

.newsletter__info input,
.newsletter__info button {
  font-size: 1rem;
  padding: 1rem;
  border: 0;
  outline: 0;
}

.newsletter__info input {
  width: 55%;
  caret-color: var(--main-color);
}

.newsletter__info input::placeholder {
  text-transform: capitalize;
  font-size: .8rem;
}

.newsletter__info button {
  cursor: pointer;
  background-color: var(--dark-main);
}

/* *FOOTER */
.footer {
  background-color: var(--dark-main);
  padding-block-start: 9rem;
  padding-block-end: 5rem;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.footer__title {
  font-size: 1.3rem;
  color: var(--white);
}

.footer .col-1 span {
  display: block;
  color: #6ea68b;
}

.footer .col {
  line-height: 2;
}

.footer .col a {
  font-size: 1rem;
  color: #6ea68b;
}

.footer .col a:hover {
  color: var(--white);
}

.footer .bold-span {
  font-weight: 600;
}

/* * ABOUT PAGE * */
.about-header {
  background: #F6FAFB url("../images/About/hero.png") center no-repeat;
  min-height: 60vh;
  margin-block-end: 9rem;
}

.about-header .main-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border-block-start: 3px solid var(--main-color);
  padding: 3rem;
  margin-block-start: 2rem;
  width: 385px;
  height: 200px;
}

.price {
  margin-block-end: 5rem;
}

.price .container {
  display: flex;
  gap: 3rem;
}

.price__image {
  width: 610px;
}

.price__title {
  font-size: 2.8rem;
  line-height: 1.1;
  margin-block-end: 1rem;
}

.price__text {
  font-size: 1.25rem;
  margin-block-end: 2rem;
}

.our {
  margin-block-end: 5rem;
  background-color: var(--back-blue);
  height: 780px;
}

.our .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 100%;
}

.our__box {
  width: 540px;
  background-color: var(--white);
  border-top: 3px solid var(--main-color);
  height: 510px;
  padding: 4rem 3rem;
}

.our__box img {
  height: 85px;
  width: 85px;
}

.our__box h2 {
  font-size: 2.3rem;
  margin-block: 1rem;
}

.our__box p {
  margin-block-end: 4rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.our__box a:hover {
  background-color: var(--dark-main);
}

.food-video {
  margin-block-end: 5rem;
}

.food-video__box {
  position: relative;
}

.food-video__box::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.5);

}

.food-video__box video {
  width: 100%;
  display: block;
}

.food-video__box .play-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* *Shop Page */
.shop-content {
  margin-block-end: 5rem;
}

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-block-end: 2rem;
}

.content-header .left {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.content-header .left form input {
  border: 0;
  outline: 0;
  padding: 1rem 2rem;
  background-color: var(--back-blue);
  font-size: 1.2rem;
}

.content-header .left .sort {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content-header .left .sort i {
  background-color: var(--back-blue);
  font-size: 1.6rem;
  padding: 1rem;
  color: #777;
  cursor: pointer;
}

.content-header .left .sort .active {
  background-color: var(--main-color);
  color: var(--white);
}

.content-header .left .sort span {
  font-size: 1.2rem;
}

.content-header .select select {
  outline: 0;
  border: 0;
  background-color: var(--back-blue);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #777;
}

.content-body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

.content-body .products .rowProducts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rowProducts .trending__content-box {
  background-color: var(--back-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 3rem;
  gap: 1rem;
  width: 100%;
  position: relative;
  height: 300px;
}

.rowProducts i {
  font-size: 1.2rem;
  color: goldenrod;
}

.rowProducts img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

.rowProducts h3 {
  font-size: 2.5rem;
  width: 100%;
  padding-inline: 0;
}

.rowProducts p {
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.rowProducts .btn {
  width: fit-content;
}

.content-body .filter-products .cat {
  padding: 2rem;
  height: fit-content;
  border: 1px solid #e6e6e6;
  margin-block-end: 2rem;
}

.content-body .filter-products .cat h3 {
  font-size: 1.5rem;
  padding: 0.5rem 0.8rem;
}

.content-body .filter-products .cat .title-brand {
  margin-block-start: 1.5rem;
}

.cat .title-brand .brand-item {
  display: flex;
  align-items: center;
  margin-block-end: .5rem;
}

.cat .title-brand .brand-item input {
  display: none;
}

.cat .title-brand .brand-item .checkbox {
  padding: 0 0.2rem;
  border: 2px solid #c7c7cd;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 2px;
  cursor: pointer;
  margin-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat .title-brand .brand-item i {
  font-size: 1rem;
  color: var(--white);
}

.cat .title-brand .brand-item label {
  color: #777;
  font-size: 1.2rem;
}

.cat .title-brand .brand-item .view {
  border: 0;
  background-color: var(--main-color);
}

.cat .title-brand .brand-item .view-icon {
  display: block;
}

.cat input[type="range"] {
  width: 100%;
}

.cat .item {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}

.cat .item .img {
  height: 100px;
  width: 100px;
  background-color: var(--back-blue);
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
}

.cat .item .img img {
  height: 100%;
}

.cat .item .info h3 {
  font-size: 1rem;
  width: 100%;
  padding-inline: 0;
}

.cat .item .info p {
  color: var(--main-color);
  font-weight: 600;
}

.cat .item .info p del {
  color: #777;
  margin-inline-end: .5rem;
}

.cat .item .info .stars i {
  font-size: .6rem;
  color: goldenrod;
}

.cat a#view-more {
  font-weight: 600;
  color: var(--main-color);
  font-size: 1rem;
}

.shop-content .products .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.shop-content .products .content .trending__image {
  max-height: 160px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* *blog */
.blog {
  margin-block-end: 5rem;
}

.blog .container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

.blog__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
}

.blog__content-box {
  background-color: #f1f2f2;
  width: 396px;
  margin-inline: auto;
}

.blog__content-box .image {
  width: 100%;
  overflow: hidden;
}

.blog__content-box .image img {
  width: 100%;
}

.blog__content-box .image img:hover {
  scale: 1.05;
}

.blog__content-box .info {
  padding-inline: 2rem;
  padding-block-start: 2rem;
  padding-block-end: 4rem;
}

.blog__content-box .info span {
  font-size: 1rem;
  color: #6c6c6c;
  margin-block-end: 1rem;
  display: block;
}

.blog__content-box .info span a {
  font-weight: 500;
  color: var(--main-color);
}

.blog__content-box .info h2 {
  font-size: 1.5rem;
  margin-block-end: 1rem;
}

.blog__content-box .info p {
  color: #6c6c6c;
  line-height: 1.5;
  margin-block-end: 2rem;
  font-size: 1.25rem;
}

.blog__content-box .btn:hover {
  background-color: var(--dark-main);
}

.blog__sidebar form {
  margin-block-end: 2rem;
}

.blog__sidebar form #search {
  outline: 0;
  border: 0;
  background-color: var(--back-blue);
  font-size: 1.2rem;
  padding: 1rem;
}

.blog__sidebar-boxes {
  border: 1px solid #e7e5e5;
  padding: 2rem 2rem 3rem;
  margin-block-end: 3rem;
}

.blog__sidebar-boxes .box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block-end: 1rem;
}

.blog__sidebar-boxes h3 {
  font-size: 1.5rem;
  margin-block-end: 1rem;
}

.blog__sidebar-boxes .box .text h4 {
  color: var(--black);
  font-family: "Jost", sans-serif;
  font-weight: 700;
}

.blog__sidebar-boxes a {
  font-weight: 600;
  color: var(--main-color);
}

.blog__sidebar-boxes a:hover {
  padding-inline-start: 5px;
}

.blog__sidebar .box-2 span {
  display: block;
  margin-block-end: 0.5rem;
  color: var(--main-color);
}

.blog__sidebar .box-2 a {
  color: #6c6c6c;
  padding-inline-start: 0.5rem;
}

.blog__sidebar .box-2 span:hover a {
  padding-inline-start: 15px;
}

/* *Contact */
.contact {
  margin-block-end: 5rem;
}

.contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .container .form__card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--back-blue);
  justify-content: center;
  align-items: center;
}

.form__card form {
  padding: 3rem 2rem;
}

.form__card form h2 {
  font-size: 2.8rem;
  margin-block-end: 1rem;
}

.form__card form .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-block-end: 1rem;
}

.form__card form .inputs input {
  outline: 0;
  border: 0;
  font-size: 1.2rem;
  padding: 1rem;
}

.form__card textarea {
  outline: 0;
  border: 0;
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
  height: 180px;
  margin-bottom: 1rem;
  resize: none;
}

.form__card form .btn {
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
}

.form__card .reach-us {
  background-color: var(--main-color);
  color: var(--white);
  padding: 3rem 4rem 3rem 3rem;
}

.form__card .reach-us h2 {
  font-size: 2.8rem;
  margin-block-end: 1rem;
}

.form__card .reach-us p {
  font-weight: 200;
  font-size: 1.2rem;
  margin-block-end: 1rem;
}

.form__card .reach-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-block-end: 2rem;
}

.form__card .reach-box i {
  font-size: 2rem;
}

.form__card .reach-box .reach-text {
  margin-inline-start: 1rem;
}

.form__card .reach-box .reach-text h4 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-block-end: 0.5rem;
}

.form__card .reach-box .reach-text span {
  color: #e9ebeb;
  font-size: 1.2rem;
  display: block;
  line-height: 1.6;
}

/* *iframe */
.iframe-container {
  height: 600px;
  width: 100%;
  margin-block-end: 5rem;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none
}

/* *media 1199px */
@media (max-width: 1199px) {
  .price__image {
    width: 450px;
  }

  .price__title {
    font-size: 2.5rem;
  }

  .price__text {
    font-size: 1.1rem;
  }

  .content-header,
  .content-header .left {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .content-body {
    display: flex;
    flex-direction: column;
  }

  .blog .container {
    grid-template-columns: 4fr;
  }

  .blog__sidebar {
    display: none;
  }

  .blog__content {
    grid-template-columns: repeat(auto-fill, minmax(285px, 1fr));
  }

  .blog__content-box {
    width: 300px;
  }
}

/* *media 991px */
@media (max-width: 991px) {
  .nav__links {
    display: none;
  }

  .categories .container {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }

  .trending__content {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }

  .banner .container {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .about__content {
    margin-inline-start: 0;
  }

  .feature .container {
    display: flex;
    flex-direction: column;
  }

  .feature__box p {
    margin-inline: auto;
    max-width: 250px;
  }

  .feature .col-app {
    display: block;
  }

  .feature .col-app-2 {
    display: none;
  }

  .feature__box img {
    max-width: 90%;
  }

  .best-seller__content {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }

  .testimonial__content {
    flex-direction: column;
  }

  .newsletter img {
    display: none;
  }

  .newsletter .container {
    justify-content: center;
  }

  .newsletter__title {
    font-size: 2rem;
  }

  /* *About page */
  .about-header {
    background-position: right;
  }

  .about-header .main-title {
    width: 97%;
  }

  .price .container {
    flex-direction: column;
  }

  .price__image {
    width: 100%;
  }

  .price__info {
    text-align: center;
  }

  .our {
    height: auto;
  }

  .our .container {
    flex-direction: column;
    padding-block: 5rem;
  }

  .our__box {
    width: 95%;
    height: auto;
    text-align: center;
    margin-bottom: 2rem;
  }

  .food-video__box .play-icon {
    width: 85px;
    height: 85px;
  }

  .contact .container .form__card {
    grid-template-columns: 1fr;
  }
}

/* *media 768px */
@media (max-width: 768px) {
  .header {
    background-position: right;
  }

  .header__slice {
    display: none;
  }

  .header__icons {
    position: fixed;
    right: -100%;
    top: 50%;
    flex-direction: column;
    transform: translateY(-50%);
    transition: var(--transition);
    z-index: 2;
  }

  .header__icons.active {
    right: 1rem;
  }

  .nav .toggle-menu {
    display: block;
  }

  .nav .toggle-menu i {
    color: var(--dark-main);
    font-size: 1.3rem;
    padding-block: 0.8rem;
    padding-inline: 1.3rem;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
  }

  .nav .toggle-menu i:hover {
    color: var(--dark-main);
    background-color: #ddd;
  }

  .hero__info {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 0.5rem;
  }

  .hero__info span {
    font-size: 1rem;
    margin-block-end: 1.5rem;
  }

  .hero__info h1 {
    font-size: 2rem;
    margin-block-end: 1.5rem;
    margin-inline: auto;
  }

  .hero__info p {
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  .hero__btns {
    justify-content: center;
    flex-wrap: wrap;
  }

  .bottom-nav {
    display: block;
  }

  .categories .container {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }

  .trending__content {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }

  .best-seller__content {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }

  .banner .container {
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
  }

  .banner__left h3 {
    font-size: 2.5rem;
  }

  .banner__right p {
    font-size: 2rem;
  }

  .newsletter__info input {
    display: block;
    width: 100%;
    margin-block-end: 1rem;
  }

  .newsletter__title {
    font-size: 1.8rem;
  }

  .rowProducts .trending__content-box {
    flex-direction: column;
    height: auto;
  }

  .rowProducts h3 {
    font-size: 1.6rem;
  }

  .contact .container .form__card {
    width: 95%;
  }

  .contact .container .form__card .inputs {
    grid-template-columns: 1fr;
  }

  .contact .container .form__card .reach-us {
    width: 100%;
    text-align: center;
  }
}

/* *media 475px */
@media (max-width: 475px) {
  .bottom-nav a {
    font-size: 1rem;
  }

  .categories .container {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .trending__content {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .best-seller__content {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .about__content h3 {
    font-size: 2rem;
  }

  .about__content p {
    font-size: 1.2rem;
  }

  .footer .col {
    text-align: center;
  }
}