@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600&display=swap");

/* *GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  transition: all .2s linear;
}

:root {
  --main-color: #9fcb22;
  --dark-main: #14462e;
  --back-blue: #eef7fc;
  --red: #d9485b;
  --black: #000;
  --white: #fff;
  --transition: 0.3s;
  --border: .1rem solid rgba(0, 0, 0, .1);
  --border-hover: .1rem solid var(--black);
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Barlow', sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Jost', sans-serif;
}

a {
  text-decoration: none;
}

html::-webkit-scrollbar {
  width: .5rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #444;
}

html::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.main-title {
  text-transform: capitalize;
  text-align: center;
  margin-block-end: 2rem;
}

.main-title span {
  color: var(--main-color);
  font-size: 1.3rem;
  font-family: "Jost", sans-serif;
  font-weight: 500;
}

.main-title span a {
  color: var(--main-color);
}

.main-title h2 {
  font-size: 2.8rem;
}

/* Small */
@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width:992px) {
  .container {
    width: 950px;
  }
}

/* Large */
@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.btn {
  text-transform: uppercase;
  background-color: var(--main-color);
  padding: 1rem 2.5rem;
  font-weight: 500;
  color: var(--white);
}



/* *HEADER */
.header {
  padding-block-start: 2rem;
  background: var(--back-blue) url("./images/Home/Hero.png") center no-repeat;
}

.header .header__slice {
  position: absolute;
  left: 0;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .toggle-menu {
  display: none;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav__links li {
  position: relative;
}

.nav__links a {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--black);
}

.nav__links li::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  background-color: var(--main-color);
  width: 0%;
  height: 2px;
  transition: var(--transition);
}

.nav__links li:hover::before {
  width: 100%;
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__icons i {
  color: var(--main-color);
  background-color: var(--white);
  padding: 0.8rem;
  border-radius: 50%;
  transition: var(--transition);
}

.header__icons i:hover {
  color: var(--dark-main);
  background-color: #ddd;
}

.header__icons a:last-child {
  position: relative;
}

.header__icons a:last-child span {
  position: absolute;
  right: 0;
  background-color: var(--dark-main);
  color: var(--white);
  border-radius: 50%;
  padding: 0.1rem 0.3rem;
  font-size: 0.5rem;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__info span {
  color: var(--main-color);
  font-weight: 500;
  font-size: 1.2rem;
  display: block;
  margin-block-end: 1.3rem;
}

.hero__info h1 {
  font-size: 4rem;
  line-height: 1.1;
  margin-block-end: 1.3rem;
}

.hero__info p {
  line-height: 1.5;
  margin-block-end: 3rem;
  font-weight: 500;
  max-width: 375px;
}

.hero__btns {
  display: flex;
  gap: 1rem;
}

.hero__btns a:last-child {
  background-color: var(--dark-main);
}

/* *BOTTOM NAV */
.bottom-nav {
  text-align: center;
  background: var(--main-color);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: 9;
}

.bottom-nav a {
  font-size: 1.5rem;
  padding: 1rem;
  color: #fff;
}

.bottom-nav a:hover {
  background-color: var(--dark-main);
}

/* *LOGIN */
.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  width: 100%;
  z-index: 9;
}

.login-form-container form {
  background: #fff;
  border: var(--border);
  width: 30rem;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  margin: 2rem;
  border-radius: 0.5rem;
}

.login-form-container form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #444;
  text-align: center;
}

.login-form-container form span {
  display: block;
  font-size: 1.1rem;
  padding-top: 1rem;
  text-transform: capitalize;
}

.login-form-container form .box-input {
  width: 100%;
  margin: 0.7rem 0;
  font-size: 1.1rem;
  border: var(--border);
  padding: 0.8rem 1.2rem;
  border-radius: 0.5rem;
  text-transform: none;
}

.login-form-container form .checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.8rem 0;
  text-transform: capitalize;
}

.login-form-container form .checkbox label {
  font-size: 1.1rem;
  color: #777;
  cursor: pointer;
}

.login-form-container form .Btn {
  border: 0;
  display: inline-block;
  padding: 0.9rem 3rem;
  color: #fff;
  background: var(--main-color);
  font-size: 1.7rem;
  border-radius: 0.5rem;
  transition: var(--transition);
  cursor: pointer;
  text-align: center;
  width: 100%;
  margin: 1.5rem 0;
}

.login-form-container form .Btn:hover {
  background: var(--dark-main);
  color: #fff;
}

.login-form-container form p {
  padding-top: 0.8rem;
  color: #666;
  font-size: 1.2rem;
}

.login-form-container form p a {
  color: var(--main-color);
  text-decoration: underline;
}

.login-form-container.active {
  right: 0;
}

.login-form-container #close-btn-login {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 2.5rem;
  color: #444;
  cursor: pointer;
}

/* *CATEGORIES */
.categories .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  margin-block: 9rem;
}

.categories__box {
  width: 100%;
  height: 300px;
  margin-inline: auto;
  position: relative;
}

.categories__info {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white);
  text-transform: capitalize;
  max-width: 155px;
}

.categories__info a {
  color: var(--white);
}

.categories__info-title {
  font-size: 1.6rem;
  font-weight: 400;
  margin-block-end: 1rem;
}

.categories__box:nth-child(1) {
  background: #9FDED4 url("./images/Home/cat-1.png") no-repeat;
  background-position-x: 105%;
  background-position-y: 115%;
}

.categories__box:nth-child(2) {
  background: #FA9522 url("./images/Home/cat-2.png") no-repeat;
  background-position-x: 90%;
  background-position-y: 90%;
}

.categories__box:nth-child(3) {
  background: #AEDF23 url("./images/Home/cat-3.png") no-repeat;
  background-position-x: 90%;
  background-position-y: 90%;
}

/* *TRENDING */
.trending {
  margin-block: 9rem;
}

.trending__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
}

.trending__content-box {
  position: relative;
  background-color: var(--back-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 480px;
  padding-block-end: 1.5rem;
}

.trending__content-box.hot::before {
  content: "Hot";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--red);
  padding: .5rem 1rem;
  color: var(--white);
  font-weight: 400;
  font-family: "Jost", sans-serif;
}

.trending__fav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: var(--white);
  border-radius: 50%;
  cursor: pointer;
}

.trending__fav .fa-heart {
  padding: 1rem;
  color: gray;
}

.trending__fav .fa-heart:hover {
  color: var(--white);
}

.trending__fav:hover {
  background-color: var(--main-color);
}

.trending__image {
  height: 225px;
  max-width: 100%;
}

.trending__info {
  line-height: 2;
  text-align: center;
  text-transform: capitalize;
}

.trending__info .btn {
  background-color: var(--dark-main);
  padding: 0.8rem 1.4rem;
}

.trending__info .btn:hover {
  background-color: var(--main-color);
}

.trending__stars .fa-solid {
  color: gold;
}

.trending__stars .fa-regular {
  color: #ccc;
}

.trending__info-title {
  font-size: 1.6rem;
}

.trending__info-price {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main-color);
  margin-block-end: 1.5rem;
}

.trending__info-price del {
  color: #ccc;
  font-weight: 300;
  margin-inline-end: .3rem;
}

/* *BANNER */
.banner {
  margin-block: 9rem;
  background-size: cover;
}

.banner .container {
  background: url("./images/Home/Banner.png") center no-repeat;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  min-height: 40vh;
  padding-inline: 3rem;
}

.banner__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner__left h3 {
  font-size: 3.3rem;
  color: var(--white);
  font-weight: 500;
}

.banner__left span {
  color: yellow;
}

.banner__left a {
  color: var(--white);
  font-weight: 500;
}

.banner__right {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.banner__right p {
  font-size: 2.8rem;
  color: var(--white);
  font-weight: 500;
}

/* *ABOUT */
.about {
  height: 790px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 9rem;
  position: relative;
  position: relative;
  background: url("./images/Home/BackgroundAbout.png");

}

.about__slice {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.about__content {
  max-width: 610px;
  height: 790px;
  border-top: 3px solid var(--main-color);
  background-color: var(--white);
  padding: 5rem 3rem;
  margin-inline-start: auto;
}

.about__content span {
  color: var(--main-color);
  font-weight: 600;
  font-size: 1.3rem;
}

.about__content h3 {
  font-size: 2.8rem;
  line-height: 1;
  margin: 1rem 0;
}

.about__content p {
  line-height: 1.6;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.about__content p:last-of-type {
  margin-bottom: 3rem;
}

.about__content .btn:hover {
  background-color: var(--dark-main);
}

/* *FEATURE */
.feature .col-app {
  display: none;
}

.feature .container {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  text-align: center;
}

.feature__box {
  margin-block-end: 4rem;
}

.feature__box img {
  margin-block-end: 1rem;
}

.feature__box h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.feature__box p {
  font-size: 1.2rem;
  color: #777;
}

/* *media 991px */
@media (max-width: 991px) {
  .nav__links {
    display: none;
  }

  .categories .container {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }

  .trending__content {
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  }

  .banner .container {
    grid-template-columns: 1fr 3fr 1fr;
  }

  .about__content {
    margin-inline-start: 0;
  }

  .feature .container {
    display: flex;
    flex-direction: column;
  }

  .feature .col-app {
    display: block;
  }

  .feature .col-app-2 {
    display: none;
  }

  .feature__box img {
    max-width: 90%;
  }
}

/* *media 768px */
@media (max-width: 768px) {
  .header {
    background-position: right;
  }

  .header__slice {
    display: none;
  }

  .header__icons {
    position: fixed;
    right: -100%;
    top: 50%;
    flex-direction: column;
    transform: translateY(-50%);
    transition: var(--transition);
  }

  .header__icons.active {
    right: 1rem;
  }

  .nav .toggle-menu {
    display: block;
  }

  .nav .toggle-menu i {
    color: var(--dark-main);
    font-size: 1.3rem;
    padding: 0.8rem 1.3rem;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
  }

  .nav .toggle-menu i:hover {
    color: var(--dark-main);
    background-color: #ddd;
  }

  .hero__info {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 0.5rem;
  }

  .hero__info span {
    font-size: 1rem;
    margin-block-end: 1.5rem;
  }

  .hero__info h1 {
    font-size: 2rem;
    margin-block-end: 1.5rem;
  }

  .hero__info p {
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  .hero__btns {
    justify-content: center;
    flex-wrap: wrap;
  }

  .bottom-nav {
    display: block;
  }

  .categories .container {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }

  .trending__content {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }

  .banner .container {
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
  }

  .banner__left h3 {
    font-size: 2.5rem;
  }

  .banner__right p {
    font-size: 2rem;
  }
}

/* *media 475px */
@media (max-width: 475px) {
  .bottom-nav a {
    font-size: 1rem;
  }

  .categories .container {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .trending__content {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .about__content h3 {
    font-size: 2rem;
  }

  .about__content p {
    font-size: 1.2rem;
  }
}